@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

html,
body,
header {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'montserrat',roboto;
}
header,
body {
    width: 100%;
    height: 100%;
    background: #333;
    position: absolute;
    overflow: auto;
}

h1 {
    color: #25cbf5;
    font-size: 42px;
}

h2 {
    font-size: 24px;
}

.icon-1, .icon-2, .icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: #25cbf5;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.hamburger-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 5%;
    left: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: #fff;
    // background: #25cbf5;
    // width: auto;
    // height: 50px;
    // overflow: hidden;
  &:hover {
    // .icon-1 {
    //   transform: rotate(40deg);
    // }
    // .icon-3 {
    //   transform: rotate(-40deg);
    // }
    // .icon-2 {
    //   opacity: 0;
    // }
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  }
}

.icon-1.a {
  transform: rotate(40deg);
}
.icon-3.b {
  transform: rotate(-40deg);
}
.icon-2.c {
  opacity: 0;
}

.clear {
  clear: both;
}

@keyframes slideIn {
  0% {
    width: 0%;
    // transform: scale(.3);
    opacity: 0;
  }
  
  100% {
    width: 50%;
    // transform:scale(1);
    opacity: 1;
  }
}

nav {
    background: #25cbf5;
    position: absolute;
    padding-top: 20%;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
    transition-delay: 100ms;
}

nav ul {
    margin-right: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
    padding-right: 20%;
  }

nav li {
    list-style: none;
    font-size: 24px;
    color: #fff;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
      
      &:before {
        
      }
    }

.navbar li a {
    font-family: 'Open Sasns', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    
}

.navbar li a:hover {
    color: #333;
}

 nav.show {
    // opacity: 100;
    // animation: slideIn 0.6s cubic-bezier(.62,.04,.3,1.56);
    // animation-fill-mode: forwards;
   width: 500px;
    // transform:scale(1);
   opacity: 1;
}

#content-home {
    color: #fff;
    padding-top: 10%;
    left: 50%;
    text-align: center;
    overflow: visible;
}

#content-answer {
    background-color: #fff;
    padding-top: 10%;
    left: 50%;
    text-align: center;
}

#footer {
    position: absolute;
    color: #fff;
    padding-top: 80%;
    width: 100%;
    text-align: center;
}

p {
    display: inline-block;
}

p.wr1 {
    font-family: "Times New Roman";
    font-weight: bold;
    color: red;
}

p.wr2 {
    font-family: "Arial";
    font-weight: bold;
    color: blue;
}

p.wr3 {
    font-family: "Impact";
    font-weight: bold;
    color: green;
    font-style: italic;
}

.about-col {
    margin-bottom: 40px;
}

.about-col .fa {
    width: 90px;
    height: 90px;
    line-height: 90px;
    color: #666666;
    border-radius: 50%;
    background-color: #f5f4f2;
    transition: 0.7s ease-in-out;
}

.about-col:hover .fa {
    background-color: #25cbf5;
    color: white;
    transform: rotateY(360deg);
}

.icon {
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.42857;
    width: 130px;
    margin: 0 auto;
    position: relative;
    color: #25cbf5;
}

.section-padding {
    padding-top: 60px;
    padding-bottom: 50px;
}

#cta-1 {
  background-color: #f5f4f2;
  padding: 40px 0;

}

.block {
  display: block;
}

.overlay {
  background: rgba(255, 255, 255, 0.77);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.global-modal {
  visibility: hidden;
  padding-top: 10px;
}

.global-modal_contents {
  background: #FFF;
  -webkit-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: 0 0 8px 2px rgba(182,182,182, 0.75);
  -o-box-shadow: 0 0 8px 2px rgba(182,182,182,0.75);
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  width: 50%;
  position: absolute;
  left: 42%;
  margin-left: -16%;
  top: 15%;
  min-height: 850px;
}
    
.global-modal-header{
  border-bottom: 1px solid #ccc;
}
    
.global-modal-header p{
  color: #333;
  text-align: left;
   margin: 20px;
}

.global-modal p{
  color: #333;
  text-align: left;
  left: 10px;
}
    
.global-modal-header .mobile-close{
  display: none;
}

    
.global-modal-body{
  color: #333;
  width: 80%;
  height: 225px;
  position: relative;
  top: 55px;
  margin: 20px;
  left: 10%;
}

.global-modal_close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: none;
  display: none;
}

.global-modal-show {
  visibility: visible;
}

.global-modal-transition {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.global-modal-show .global-modal-transition {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 1139px){
  .global-modal p{
    text-align: left;
    width: 100%;
    display:block;
    float: none;
    margin: 0 auto;
  }
  .global-modal:after {
    clear: both;
    content: '';
    display: table;
  }
}
@media(max-width: 1027px){
  .global-modal-header h3{
    font-size: 18px;
  }
}
@media (max-width : 767px) {
  
  .global-modal_contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  .global-modal-header h3{
    font-size: 22px;
  }
  .global-modal-header .mobile-close{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    curson: pointer;
  }
  .global-modal_close {
    display: block;
  }
  
  .global-modal-transition {
    -webkit-transform: translateX(-0) translateY(150%);
    -moz-transform: translateX(-0) translateY(150%);
    -ms-transform: translateX(-0) translateY(150%);
    transform: translateX(-0) translateY(150%);
  }
  
}
@media (max-width: 495px){
  .global-modal-header h3{
    font-size: 18px;
  }
}
@media (max-width: 415px){
  .global-modal-header h3{
    font-size: 15px;
  }
} 

/* homework3 */

.global-modal-body table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
    padding: 50%;
    left: 20%;
}

.global-modal-body thead tr th{
	font-weight: bold;
	padding: 10px;
	background: #25cbf5;
}

.global-modal-body tbody tr td {
	text-align: left;
	padding: 10px;

}

.align {
	text-align: left;
}

input {
    color: #25cbf5;
    background-color: #fff;
    border: #333 solid .25px;
	text-align: center;
    margin: 5px;
}

button {
    color: #25cbf5;
    background-color: #fff;
    border: #333 solid .25px;
	text-align: center;
    margin: 5px;
}

textarea {
    color: #333;
}

/* homework7 */

#words.bold {
    font-weight: bold;
}

#words.underline {
    text-decoration: underline;
}


/* specific code for the jQuery page*/

#navigation ul,
#navigation li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation a {
	background-color: rgb(204, 204, 204);
	text-decoration: none;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}

#navigation a:hover {
	background-color: #25cbf5;
	color: #fff;
}


/*rest of document Bootstrap */


.column-width {
	width: 20%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.bump-space {
	padding-top: 20px;
}

.bump-space-bottom {
	padding-bottom: 20px;
}

#panel,
#flip {
	padding: 5px;
	text-align: center;
	background-color: #c0c0c0;
	width: 100%;
	border: solid 1px #c3c3c3;
	margin-right: auto;
	margin-left: auto;
}

#panel {
	padding: 10px;
	width: 100%;
	display: none;
	text-align: left;
}

.valid {
    text-align: center;
}